body {
    font-family: "Comic Neue";
}

/* CARD */
.player-card {
    background-color: #101112;
    border: 3px solid #f5f5f5;
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
}

/* IMG */
.img-player {
    height: 18rem;
    object-fit: contain;
}
